<!DOCTYPE html>
<html>

<head>
    <title>Twitter2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/3a2d27863c.js" crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light bus pl-5 mb-5 fixed-top ">
    <a class="navbar-brand nav1" href=""><i class="fab fa-twitter logo"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%#query selector %>
        <form class="form-inline mr-auto pl-4" action=<%= tweets_path %> method="GET">

            <span class="cborde "><i class="fas fa-search logobus ml-3 "></i><input class="form-control bus" type="text" placeholder="Buscar en Twitter" aria-label="Search" name="query"></span>

            <button class="cinfo ml-3" type="submit">Buscar</button>
        </form>
        <%# muestra lo ingresado en la query %>
        <%# params[:query] %>
        <button class="cinfo ml-3" type="submit">Iniciar sesión</button>
        <button class="cinfo2 ml-3" type="submit">Regístrate</button>
        <a class="ml-3 mr-5 nav1"><i class="far fa-circle nav"></i><i class="far fa-circle nav"></i><i class="far fa-circle nav"></i></a>
        <span class="mr-5"></span>

    </div>
</nav>




<body>
    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>


</html>